@model TradeJournal.ViewModels.TradesJournalsViewModels

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Trade.SymbolName) - @Html.DisplayFor(model => model.Trade.PositionType)</h2>
<p>Open - close: @Html.DisplayFor(model => model.Trade.TransactionOpenDate) - @Html.DisplayFor(model => model.Trade.TransactionCloseDate)</p>
<p>Outcome: @Html.DisplayFor(model => model.Trade.TradeOutcome)$</p>
<hr />
<div class="row mt-2" style="height: 100vh;">
    <div class="col-md-6 mt-2" style="overflow-y: auto;">
       <!-- TU BEDZIE CHECK LISTA - PLAYBOOK-->
        <ejs-listview id="listview" dataSource="@ViewBag.ListData" showCheckBox="true" checkBoxPosition="Right">
            <e-listview-fieldsettings text="text" id="id"></e-listview-fieldsettings>
        </ejs-listview>
    </div>
    <!-- Druga kolumna - Journal -->
    <div class="col-md-6 h-100">
        <div class="h-100 w-100">
            @if (Model.Journal != null)
            {
                System.Diagnostics.Debug.WriteLine("Journal is not null, rendering partial view.");
                await Html.RenderPartialAsync("~/Views/Journals/AddOrEdit.cshtml", this.Model.Journal);
            }
            else
            {
                <p>No journal data available.</p>
            }

        </div>
    </div>
</div>

